
.oe_list_header_text 
{
	width: 30% !important;
}

div.user-image > img {
  max-width:100%;
}

.oe_list_content th{
	vertical-align: inherit
}

.ceyf th.oe_list_header_char.oe_sortable[data-id='habilita'],.ceyf td.oe_list_field_char.oe_list_field_cell[data-field='habilita'],.ceyf td.oe_list_footer:nth-child(7) {
    display: none;
}
